name: ETH Bot

on:
  schedule:
    - cron: "*/10 * * * *"  # každých 10 minut
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        run: python mainnet_bot.py



